/* extra large screens */
@media screen and ((min-width: 1921px) or (min-height: 1081px)){
    html {font-size: 24px;}

    /* allow the navbar image to grow more */
    .desktop-nav{ min-width: max(550px, 25vw); }
    .nav-img{ max-width: 450px; }
    .nav-footer { width: max(550px, 25vw); }
    main{ margin-left: max(550px, 25vw); }

    /* space elements out more */
    .nav-link { margin: 1.2rem; }
    #in-progress-notice { margin: auto 10px; }
}

/* large screens 
@media screen and ((min-width: 1440px) and (min-height: 900px)){
    html {font-size: 24px;}

    .desktop-nav{ min-width: max(550px, 25vw); }
    .nav-img{ max-width: 450px; }
    .nav-footer { width: max(550px, 25vw); }
    main{ margin-left: max(550px, 25vw); }

    .nav-link { margin: 1.2rem; }
    #in-progress-notice { margin: auto 10px; }
}
*/

/* regular screens supports ranges 1024x728px*/

/* smaller screens
@media screen and ((max-width: 1023)){

    html { font-size: 16px;}

    body{ flex-direction: column; }
    
    .desktop-nav{ display: none; }

    .dropdown-nav{ display: flex; }


    .main-content{
        margin: 0;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
    }

    .nav-footer{ display: none; }
    .hamburger-footer{ display: block;}
}
*/

/* tablets 
@media screen and ((max-height: 820px) and (max-width: 1180px)){
    html { font-size: 14px; }
    .dropdown-header-container{
        font-size: 1.25rem;
    }
    .main-header{
    }
    
}
*/

/* phone screens */
@media screen and ((max-height: 413px) and (max-width: 916px)){
    html { font-size: 4px; }
    /* reduce the size of the header */
    .dropdown-header-container{
        width: fit-content;
        font-size: 1rem;
    }
    /* reduce font size for main content header */
    .main-header{
        text-align: center;
        font-size: .75rem;
    }
}