/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
}
html, body{
    font-family: "DM Sans", sans-serif;
}
html{
    /*TODO save state of page when scrolling in case page gets refreshed */
    scroll-behavior: smooth;
    font-size: 1em;
}
body{
    display: flex;
    /* want two-column design */
    flex-direction: row;
    overflow: hidden;
    color: #121212;
}
strong { 
    font-weight: 900;
}
a{
    color: #008000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: 0.1s ease-in-out;
}

/* DESKTOP NAVBAR */
/* used on R/L/XL screens */
nav{
    display: flex;
    align-items: center;
}
.desktop-nav{
    position: fixed;
    flex-direction: column;
    border-right: 2px solid rgb(101, 101, 101, 0.33);
    width: max(25vw, 256px);
    padding: 20px;
    height: 100vh;
}
.nav-img{
    margin: 2vh 0;
    border: 3px solid #1F1F1F;
    border-radius: 25px;
    width: 100%;
    max-width: calc(1.25 * 256px);
    height: auto;
}
.nav-header {
    font-size: 1.5rem;
}
.nav-subheader{
    font-size: 1.25rem;
}
.nav-header:hover, .nav-subheader:hover{
    cursor: default;
    transform: scale(105%);
    transition: 0.1s ease-in-out;
}
.nav-links-list{
    margin-top: 8px;
    list-style: none;
    font-size: 1.25rem;
}
.nav-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 2px solid rgb(101, 101, 101, 0.33);
    height: 1rem;
    width: max(256px, 25vw);
    padding: 0 20px;
    font-size: 0.75rem;
    background-color: #FEFEFE;
}

/* LINKS ON NAVBAR */
.nav-link{
    /* use flexbox to put icon inline with anchor */
    display: flex;
    margin: 2vh 0;
    text-decoration: none;
    color: #121212;
}
.nav-link:hover{
    text-decoration-color: #555555;
    color: #555555;
    transform: scale(1.05);
}
.icon{
    margin: auto 0;
    margin-right: .75rem;
    height: 1.5rem;
}
#in-progress-notice{
    margin: auto 5px;
    align-self: end;
    color: black;
    font-size: .725rem;
    font-weight: 600;
}


/*DROPDOWN NAVBAR*/
/* used for XS/S screens */
.dropdown-nav{
   display: none;
   margin-top: 1rem;
   justify-content: space-between;
   border-bottom: 1px solid rgb(101, 101, 101, 0.25);
   padding: 2rem 2rem 3rem 2rem;
   width: 100vw;
   height: 12vh;
   min-height: 80px;
   overflow: hidden;
}
.dropdown-header{
    margin-left: 32px;
    padding: 2rem;
    white-space: nowrap;
    font-size: 1.5rem;
}
.dropdown-header p{
    margin-left: 32px
}
.dropdown-menu-links{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3 ease-in-out
}
.dropdown-menu-links.open{
    max-height: 250px;
}
.dropdown-menu-links a{
    display: block;
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.hamburger-footer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2vh;
    text-align: center;
    font-size: .75rem;
}

/* MAIN CONTENT */
main{
    position: fixed;
    margin-left: max(256px, 25vw);
    height: 100vh;
    width: 75vw;
    padding: 42px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-header{
    text-align: left;
    width: 75vw;
}
.main-header h1{
    margin-bottom: 5px;
    font-size: 2rem;
}
.main-header p{
    margin-left: 2vw;
    font-weight: 600;
    font-size: 1.125rem;
}
.header-link, .header-link:visited{
    /*need the inline-block to apply transformation on hover*/
    display: inline-block;
    color: #008000;
}
.header-link:hover{
    color: #700070;
    transform: scale(1.03);
}
/* MAIN CONTENT SECTIONS */
.section-header{
    /* headers also have expand/collapse buttons inline */
    display: flex;
    margin-bottom: 10px;
    width: 75vw;
    min-width: calc(100vw - 256px);
    font-size: 1.33rem;

}
.section-header:first-of-type{
    margin-top: -15px; /* TODO fix this kludge */
}
.section-subheader{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.33rem;
}
.section-subheader:first-of-type{
    margin-top: 10px;
}
.main-section{
    margin: 40px 0;
}
.main-section p, .main-section ol{
    margin-bottom: 10px;
    line-height: 1.75;
    font-weight: 500;
}
.main-section p{
    text-indent: 2vw;
    font-size: 1rem;
}
.main-section ol{
    padding-left: 50px;
}
.main-section li{
    padding-left: 5px;
}
.collapsible-button{
    margin: auto 10px;
    width: fit-content;
    height: fit-content;
    border: none;
    color: #121212;
    font-weight: bolder;
    font-size: 1.5rem;
}
.collapsible-button:hover{
    cursor: pointer;
    color: rgb(101, 101, 101);
    transform: scale(1.2);
    transition: 0.50ms ease-in-out;
}
#personal-projects-notice{
    margin-bottom: 20px;
    display: inline-block;
}
#personal-projects-notice a:hover{
    color: #700070;
}


/* HAMBURGER ICON */
.hamburger-icon{
    display: flex;
    margin-left: 33vw;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    width: 32px; 
    height: 24px;
}
.hamburger-icon span{
    background-color: black;
    width: 30px;
    height: 2px;
    transition: all 0.3 ease-in-out;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:nth-child(2){
    opacity:1;
}
.hamburger-icon span:last-child{
    transform: none;
}