/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    background-color: #FEFEFE;
    padding: 0;
}
html, body{
    height: 100%;
    font-family: "DM Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
p{
    color: #121212;
}

/* TRANSITION */
a, .btn{
    transition: all 300ms ease;
}

/* DESKTOP NAVBAR */
nav{
    display: flex;
    align-items: center;
}
.desktop-nav{
    position: fixed;
    float: left;
    flex-direction: column;
    border-right: 1px solid rgb(101, 101, 101, 0.33);
    background-color: #FEFEFE;
    width: 25vw;
    min-width: 350px;
    height: 100vh;
    padding: 1rem;  
}
.nav-img{
    margin-top: 2rem;
    border: 5px solid #1F1F1F;
    border-radius: 25px;
    width: 100%;
    max-width: 450px;
    height: auto;
}
.nav-header{
    margin-top: 0.5rem;
    font-size: 1.75rem;
}
.nav-subheader{
    font-size: 1.25rem;
}
.nav-links-list{
    list-style: none;
    font-size: 1.5rem;
}
/* LINKS ON NAVBAR */
.nav-link{
    margin: 1rem;
}
.nav-link a{
    display: flex;
    text-decoration: none;
    text-decoration-color: white;
    color: black;
}
.nav-link a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(101, 101, 101);
    text-underline-offset: .25rem;
    color: grey;
}
#in-progress-warning{
    margin: 0.3rem;
    align-self: end;
    color: black;
    font-size: .8rem;
    font-weight: 700;
}
.icon{
    display: flex;
    margin-right: .75rem;
    height: 1.5rem;
}

/*HAMBURGER MENU*/
/*navbar for smaller screens*/
.dropdown-nav{
   display: none;
   margin-top: 1rem;
   justify-content: space-between;
   border-bottom: 1px solid rgb(101, 101, 101, 0.25);
   padding: 2rem 2rem 3rem 2rem;
   width: 100vw;
   height: 12vh;
   min-height: 80px;
   overflow: hidden;
}
.dropdown-header{
    margin-left: 2rem;
    padding: 2rem;
    white-space: nowrap;
    font-size: 1.5rem;
}
.dropdown-header p{
    margin-left: 1.5rem;
}

/* DROPDOWN WITH LINKS */
.dropdown-menu-links{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3 ease-in-out
}
.dropdown-menu-links.open{
    max-height: 250px;
}
.dropdown-menu-links a, .dropdown-{
    display: block;
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

/* MAIN CONTENT */
.main-content{
    position: relative;
    margin-left: max(350px, 25vw);
    height: 100vh;
    padding: 3rem 4rem;
    overflow-y: scroll;
}
.main-header-link, .main-header-link:visited{
    color: #008000;
}
.main-header-link:hover{
    color: #800080;
}

.btn{
    border-radius: 3px;
    border: 1px solid #1F1F1F;
    width: 100px;
    padding: 2px;
    background-color: #1F1F1F;
    color: white;
}
.btn:hover{
    border: 1px solid #141414;
    background-color: #141414;
    transform: scale(105%);
    transition: 0.1s ease-in-out;
}

/* SECTIONS */
.main-header{
    margin-bottom: 40px;
}
.main-header h1{
    margin-bottom: 5px;
}
.main-header p{
    margin-bottom: 2px;
    margin-left: 2vw;
    font-weight: 600;
}
.main-section{
    margin: 40px 0
}
.main-section-header{
    margin: 0;
    font-size: 1.75rem;
}
.main-section-subheader{
    margin: 5px 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.main-section p{
    text-indent: 2vw;
    font-weight: 500;
    line-height: 1.75; 
    margin-bottom: 25px;   
}


/* PROFILE SECTION */



/* HAMBURGER ICON */
.hamburger-icon{
    display: flex;
    margin-left: 33vw;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    width: 32px; 
    height: 24px;
}
.hamburger-icon span{
    background-color: black;
    width: 30px;
    height: 2px;
    transition: all 0.3 ease-in-out;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:nth-child(2){
    opacity:1;
}
.hamburger-icon span:last-child{
    transform: none;
}